{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="about-page">
        <h1>À propos d'HulaHop</h1>

        <div>
            <h2>Qui sommes nous ?</h2>
            <p>
                HulaHop est une ludothèque créée par 3 étudiants en développement informatique multi-plateforme à Annecy.
                Notre projet consiste à faire découvrir ou redécouvrir les joies du jeu de société et le ramener sur le devant de la scène.
                Ainsi, HulaHop repose sur les valeurs de partage et d'expérience de chaque joueur afin de vous proposer une sélection de jeux adaptée à tous les goûts.
            </p>
        </div>
        <div>
            <h2>Fonctionnalités</h2>
            <p>Notre site est accessible gratuitement et nécessite d'un compte afin de pouvoir profitez pleinement des diverses fonctionnalités :</p>
            <ul>
                <li>Emprunter des jeux</li>
                <li>Trouver des amis</li>
                <li>Créer son profil de joueur</li>
                <li>Consulter ses jeux empruntés</li>
                <li>Noter des jeux et partager son ressenti</li>
            </ul>
        </div>
        <br>
        <div>
            <h2>Communauté HulaHopienne</h2>
            <p>
                La communauté HulaHopienne vit grâce à chacun d'entre vous ! <br>
                Vous enrichissez chaque jour cette communauté à travers vos ressentis sur un jeu et à travers votre partage avec les autres HulaHopiens.
                Nous pouvons grâce à cela proposer les meilleurs jeux de société et continuer de dénicher les dernières nouveautées pour vous en remercier !
            </p>
            <br>
        </div>
    </div>
{% endblock %}