{% extends 'base.html.twig' %}

{% block title %} HulaHop {% endblock %}

{% block body %}
    <h1>Bienvenue chez HulaHop !</h1>
    <p>HulaHop est une ludothèque en ligne qui propose une série de jeu de société à emprunter. <br>
        Partagez de bon moments en famille ou entre amis autour d'une gamme de jeu pour tout âge et de toutes catégories.
        <br>
        Vous voulez être au courant de bonnes affaires ? Vous souhaitez trouver vos amis HulaHopien ? <br>
        Nous vous inquiétez pas HulaHop s'occupe de tout même de gérer vos emprunts !
    </p>
    <p>Inscrivez-vous afin de découvrir nos jeux !</p>


{% endblock %}
