{% extends 'base.html.twig' %}

{% block title %}Mes emprunts{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="title">Mes emprunts</h1>

        {% for borrow in borrows %}
            <div>
               {{ borrow.game.name }}
            </div>
            <div class="borrow">
                <a href="{{ path("return_game", { 'id' : borrow.game.id }) }}" class="btn">Rendre ce jeu</a>
            </div>
        {% else %}
            <p>Vous n'avez jamais emprunté de jeu.</p>
        {% endfor %}
    </div>
{% endblock %}