{% extends 'base.html.twig' %}

{% block title %}Mes jeux{% endblock %}

{% block body %}
    <div class="content borrow-list-page">
        <h1 class="title">Mes jeux</h1>
        <div class="games-container">
            {% for borrow in borrows %}
                {% include "components/game.html.twig" with { 'borrow': borrow, 'game': borrow.game, 'index': loop.index } %}
            {% else %}
                <p>Aucun emprunt en cours.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
