{% extends 'base.html.twig' %}

{% block title %}Mes jeux{% endblock %}

{% block body %}
    <div class="content borrow-list-page">
        <h1 class="title">Mes jeux</h1>
        <div class="games-container">
            {% include "components/borrowed_games_list.html.twig" with {'borrows': borrows, 'noContent': "Vous n'avez aucun emprunt en cours." } %}
        </div>
    </div>
{% endblock %}
