* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

#app-wrapper {
  padding: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  @include mobile{
    flex-wrap: wrap;
  }
  &::before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background:
            linear-gradient(
                            rgba(255, 255, 255, 0.75),
                            rgba(255, 255, 255, 0.75)
            ),
            url(/build/images/ice.svg) 0 0 repeat;
    transform: rotate(-30deg);
  }
}


body{
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: $white;
  position: relative;
}
h1, h2, h3, h4, h5, .title{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 2rem;
  font-weight: bold;
  color:$gray;
  margin-bottom: 20px;

  @include mobile {
      text-align: center;
  }
}

.font-bold{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}
.site-content {
  width: 100%;

  @include not-mobile{
    padding-left: 270px;
    padding-top: 20px;
  }
  @include mobile{
    padding: 10px;
    padding-top: 70px;
  }
  &.burger-click{
    display: none;
  }
}

.sf-toolbar{
  position: absolute;
}

.container{
  width: 90vw;
  margin: 0 auto;

  @include mobile{
    width: 95vw;
  }

  @include large{
    width: 90vw;
    max-width: 1280px;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
