{% extends 'base.html.twig' %}

{% block title %}Bonnes affaires du moment{% endblock %}

{% block body %}
    <h1>Bonnes affaires du moment</h1>
    <p>Profite de <span>{{ games|length }}</span> jeux à des prix bas en ce moment !</p>
    <div class="games-container">
    {% for game in games %}
        {% include "components/game_deal.html.twig" with { 'game': game, 'index': loop.index } %}
        {% else %}
        <p>Malheureusement, il n'y a pas de bonnes affaires en ce moment.</p>
    {% endfor %}
    </div>

{% endblock %}
