{% extends 'base.html.twig' %}

{% block title %}HulaHop - Liste de jeux{% endblock %}

{% block body %}
    <div class="content game-list-page">
        <h1>Liste des jeux disponibles</h1>
        <div class="games-container">
           {% for game in games %}
                {% include "components/game.html.twig" with { 'borrow': null, 'game': game, 'index': loop.index } %}
            {% else %}
                <p>Pas de jeu disponible</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
