footer {
    position: absolute;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include not-mobile {
        margin-left: 38px;
        width: unset;
        text-align: center;
    }

    h4 {
        margin-bottom: 5px;
        a {
            transition: color ease-in-out 0.3s;
        }
        &:not(.copyright) {
            a:hover {
                color: $red-hover!important;
            }
        }
    }

    .copyright {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

#menu.burger-click {
    footer {
        display: flex;
    }
}

#menu:not(.burger-click) {
    @include mobile {
        footer {
            display: none;
        }
    }
}