#menu {
  position: fixed;
  background-color: $gray;
  color: $white;
  width: 15vw;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 15px rgba(42,51,83,.82);
  z-index: 20;

  @include not-mobile{
    max-width: 230px;
  }

  a{
    color: $white;
    text-decoration: none;
  }

  #logo {
    width: 200px;
    margin: 15px;
  }

  .logged-user{
    margin-top: 20px;
    display: flex;
    img{
      width: 50px;
      height: 50px;
    }
    .user-infos{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 0;
    }
  }
  .user-infos{
    padding-left: 15px;
  }
  .nav-menu{
    margin-top: 20px;
    padding-left: 15px;
    .nav-item{
      margin-bottom: 10px;
      cursor: pointer;
      &:hover{
        font-weight: bold;
      }
      a{
        span{
          margin-top: 2px;
          width: 0;
          display: block;
          height: 2px;
          background-color:$white;
          transition: .5s;
        }

        &:hover{
          span{
            width: 100%;
          }
        }
      }
      .active{
          font-weight: bold;
          a{
            span{
              width: 100%;
            }
          }
      }
    }
  }

  @include not-mobile{
    min-height: 100vh;
    padding-left: 10px;
    padding-top: 10px;

    .title{
      padding-left: 10px;
    }
  }


  @include mobile {
    width: 100vw;
    height: 50px;
    overflow: hidden;

    #logo {
      margin: 5px;
      width: unset;
      height: 40px;
    }

    &.burger-click{
      height: 100vh;
    }

    .title {
      min-height: 100%;
      width: calc(100% - 10px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover{
        cursor: pointer;
      }

      &.burger-click{
        min-height: auto;
      }
      h1 {
        text-align: left;
        padding: 0 10px;
      }
      .hamburger{
        padding: 0 10px;
      }
    }
    .nav-menu {
      opacity: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;

      .nav-item{
        margin-bottom: 20px;
      }

      &.burger-click{
        animation: fade-in-up 1s forwards;
      }
    }

    .row .three {
      padding: 80px 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #2c3e50;
      color: #ecf0f1;
      text-align: center;
    }

    .hamburger .line {
      width: 30px;
      height: 3px;
      background-color: #ecf0f1;
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
      cursor: pointer;
    }

    /* ONE */

    #hamburger-1.is-active .line:nth-child(2) {
      opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1) {
      -webkit-transform: translateY(11px) rotate(45deg);
      -ms-transform: translateY(11px) rotate(45deg);
      -o-transform: translateY(11px) rotate(45deg);
      transform: translateY(11px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3) {
      -webkit-transform: translateY(-11px) rotate(-45deg);
      -ms-transform: translateY(-11px) rotate(-45deg);
      -o-transform: translateY(-11px) rotate(-45deg);
      transform: translateY(-11px) rotate(-45deg);
    }
  }
  .log-btn{
    margin-top: 20px;
    bottom: 50px;
    width: 100%;
    a{
      display: block;
      width: calc(100% - 32px);
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      transition: .3s;

      @include mobile{
        margin: 0 auto;
      }
    }
    &.signup{
      a{
        background-color: $red;
        &:hover{
          background-color: $red-hover;
        }
      }
    }
    &.login{
      a{
        background-color: $blue;
        &:hover{
          background-color: $blue-hover;
        }
      }
    }
    &.logout{
      a{
        background-color: $red;
        &:hover{
          background-color: $red-hover;
        }
      }
    }
  }
}
