.game-details {
  width: 100%;

  .game-container {
    @include desktop {
      display: flex;
      justify-content: space-evenly;

      .left-side {
        margin-right: 40px;
      }
    }
    .right-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .desc-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .desc {
        margin-right: 50px;
      }

      .dispo {
        font-weight: bold;

        span.true {
          color: $green;
        }

        span.false {
          color: $red-hover;
        }
      }

      .cat {
        span {
          color: black;
        }
        font-weight: bold;
        color: $lightgray;
      }

      p {
        margin-bottom: 20px;
      }
    }

  }


  .before-button {
    font-size: 18px;
    text-align: center;
    margin-bottom: unset;
    font-weight: bold;
    margin-top: 10px;
  }

  .button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;

    a {
      padding: 10px 20px;
      text-decoration: none;
      color: $white;
      font-weight: bold;
      transition: .3s;
      background-color: $blue;
      border-radius: 5px;
      box-shadow: 0px 0px 3px gray;

      &:hover {
        box-shadow: 0px 0px 0px gray;
      }
    }

    @include mobile {
      margin-top: 15px;
      justify-content: center;

      a {
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 5px gray;

        &:hover {
          box-shadow: 0px 0px 0px black;
        }
      }
    }
  }

  img {
    max-width: 400px;
    margin-bottom: 30px;
  }

  .ratings {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 30px;
      }
    }

    .rating-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      @include mobile {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .rating-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin-top: 20px;
        margin-right: 2%;
        margin-left: 0px;
        padding: 10px;
        width: 250px;
        height: 140px;

        @include mobile {
          width: 80%;
        }

        .header {
          font-size: 20px;
          color: $blue;
          font-weight: bold;

          .grade {
            &.good {
              color: $green;
            }
            &.bad {
              color: $red
            }
          }
        }

        h5 {
          font-weight: bold;
          font-size: 12px;
          margin: 5px 0 5px 0;
        }

        .comment {
          height: 80px;
        }

        .toolbox {
          margin-top: 5px;
          a {
            color: $blue;
            transition: color ease-in-out 0.3s;
            text-decoration: none;
            margin-right: 5px;
            &:hover {
              color:$blue-hover
            }
          }
        }
      }
    }
  }
}
