.home-page {
  &.container {
    padding: 0 20px;
    display: flex;
    height: calc(100vh - 70px);
    width: calc(100vw - 310px);
    flex-direction: column;
    text-align: center;
    justify-content: center;

    @include mobile {
      width: calc(100vw - 40px);
      height: unset;
    }

    h1 {
      opacity: 0;
      animation: fade-in-up 1s ease-in-out forwards;
      animation-delay: 0s;
      margin-bottom: 30px;
    }

    span{
      color: $blue;
    }

    p {
      opacity: 0;
      animation: fade-in .5s ease-in-out forwards;
      animation-delay: 1s;
      margin-bottom: 30px;
    }

    a{
      opacity: 0;
      animation: fade-in .5s ease-in-out forwards;
      animation-delay: 1.5s;
    }

    .logs{
      display: flex;
      justify-content: center;
      .log-btn {
        margin-top: 20px;
        bottom: 50px;
        width: 100%;
        @include not-mobile{
          width: 20%;
        }


        a {
          display: block;
          width: calc(100% - 32px);
          padding: 10px;
          text-align: center;
          border-radius: 5px;
          transition: .3s;
          color:white;
          text-decoration: none;

          @include mobile {
            margin: 0 auto;
          }
        }

        &.signup {
          a {
            background-color: $red;
            &:hover {
              background-color: $red-hover;
            }
          }
        }
        &.login{
          a{
            background-color: $blue;
            &:hover{
              background-color: $blue-hover;
            }
          }
        }
      }
    }

    .features {
      display: flex;
      justify-content: space-evenly;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      .home-feature {
        background-color: rgba(255,255,255,0.5);
        padding: 30px;
        border-radius: 10px;
        max-width: 200px;

        @include tablet {
          max-width: 180px;
        }

        @include mobile {
          margin-bottom: 20px;
        }

        p {
          font-weight: bold;
          min-height: 50px;
        }

        a {
          color: $blue;
          font-style: normal;
          text-decoration: none;
          transition: color ease-in-out 0.3s;

          &:hover {
            color: $blue-hover;
          }
        }
      }
    }
  }
}
