.registration-page{
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 270px);

  @include mobile{
    width: 100vw;
  }
  form{
    div{
      display: flex;
      flex-direction: column;
    }
    span{
      div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
