
<footer>
    <h4 class="copyright">© 2020 HulaHop</h4>
    <h4><a href="#">A propos</a></h4>
    <h4><a href="{{ path('contact_page') }}">Contactez-nous</a></h4>
    <h4><a href="#">Mentions légales</a></h4>
</footer>
