<h1>Mes amis</h1>

{% for user in app.user.friends %}
    <img src="{{ user.imageUrl }}" height="50" alt="">
    <a href="{{ path('friend_profile', { 'user' : user.id }) }}">
        <h2>{{ user.name }}</h2>
    </a>
{% endfor %}