<div id="menu" >
    <div class="title">
        <a href="/"><h1>HulaHop</h1></a>


        <div class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>

    {% if app.user %}
    <div class="logged-user">
        <img src="https://cdn1.iconfinder.com/data/icons/ice-cream-emoticon-sticker/64/ice_cream-21-512.png" alt="">
        <div class="user-infos">
            <p class="font-bold">{{ app.user.username }}</p>
            <p>Joueur occasionnel</p>
        </div>
    </div>
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}

    <div class="nav-menu">
        <div class="nav-item">
            <div class="btn btn-primary">
                <a href="{{ path('user_borrows') }}">Mes derniers emprunts</a>
            </div>
        </div>
        <div class="nav-item">
            <div class="btn btn-primary">Trouver des joueurs</div>
        </div>
        <div class="nav-item">
            <div class="btn btn-primary">Bonnes affaires</div>
        </div>
    </div>


</div>
